body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

.modal-content {
    animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
    from {transform: scale(0.8); opacity: 0}
    to {transform: scale(1); opacity: 1}
}

#syaratList {
    text-align: left;
    padding-left: 20px;
    list-style-position: inside;
}
